.vscode/**
.gitignore
.travis.yml
tsconfig.json
contributing.md
package-lock.json
*.vsix

bin
etc
src
test

docs/**
!docs/cache
!docs/LICENSE

lib/**
!lib/client/index.js
!lib/server/index.js

node_modules/**
!node_modules/semver
!node_modules/vscode-languageclient
!node_modules/vscode-languageserver
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/vscode-jsonrpc/**
