.vscode/**
.gitignore
.travis.yml
tsconfig.json
contributing.md
package-lock.json

bin
etc
src
test

docs/**
!docs/cache
!docs/LICENSE

node_modules/**
!node_modules/fast-levenshtein
!node_modules/fast-xml-parser
!node_modules/handlebars
!node_modules/long
!node_modules/promise-queue
!node_modules/semver
!node_modules/vscode-languageclient
!node_modules/vscode-languageserver
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/vscode-jsonrpc/**
