.vscode/**
.gitignore
.travis.yml
tsconfig.json
contributing.md
package-lock.json

bin
etc
src
test

docs/**
!docs/cache
!docs/LICENSE

node_modules/**
!node_modules/fast-levenshtein
!node_modules/fast-xml-parser
!node_modules/handlebars
!node_modules/long
!node_modules/mkdirp
!node_modules/promise-queue
!node_modules/rimraf
!node_modules/semver
!node_modules/vscode-languageclient
!node_modules/vscode-languageserver
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/vscode-jsonrpc/**

!node_modules/unzipper
!node_modules/buffer-indexof-polyfill
!node_modules/duplexer2
!node_modules/listenercount
!node_modules/binary
!node_modules/big-integer
!node_modules/fstream
!node_modules/readable-stream
!node_modules/setimmediate
!node_modules/buffers
!node_modules/chainsaw
!node_modules/inherits
!node_modules/bluebird
!node_modules/graceful-fs
!node_modules/core-util-is
!node_modules/isarray
!node_modules/process-nextick-args
!node_modules/util-deprecate
!node_modules/safe-buffer
!node_modules/traverse
!node_modules/string_decoder
!node_modules/minimist
!node_modules/glob
!node_modules/fs.realpath
!node_modules/inflight
!node_modules/path-is-absolute
!node_modules/once
!node_modules/minimatch
!node_modules/wrappy
!node_modules/brace-expansion
!node_modules/concat-map
!node_modules/balanced-match
